<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha</title>
</head>

<body>
    <h1>Recuperação de Senha</h1>
    <p>Olá,</p>
    <p>Recebemos uma solicitação de recuperação de senha para sua conta. Se você não solicitou isso, por favor, ignore
        este e-mail.</p>
    <p>Se você solicitou a recuperação de senha, utilize o código abaixo para completar o processo:</p>
    <h2>Código de Recuperação: <span style="color: #3366cc;">{{recoveryCode}}</span></h2>
    <p>Este código é válido por 10 minutos.</p>
    <p>Atenciosamente,<br />Equipe de Suporte Penduraí</p>
</body>

</html>
